= javascript_pack_tag 'application'
= react_component 'Header'
.container
  %p The greatest fitness tracker of all time.
  = react_component 'Login'
  - if session[:userinfo].present?
    = react_component 'ResistanceWorkoutGrid'

%h1 RoR Auth0 Sample
%p Step 1 - Login.
=button_to 'Login', '/auth/auth0', method: :post
%h2 Session
= session
